<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384 -ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Quizarium Test Bank</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Quizarium Test Bank</a>
</nav>
<main id="app" class="container my-3">
  <div class="form-group">
    <div class="form-group">
      <label for="query">Question</label>
      <input type="text" class="form-control form-control-lg" id="query" v-model="query"
             :placeholder="placeholder">
    </div>
  </div>

  <div class="list-group">
    <div class="list-group-item" v-for="r in results">
      <p class="mb-1">{{r.q}}</p>
      <small>{{r.a}}</small>
    </div>
  </div>
</main>
<script src="./index.js"></script>
</body>
</html>
